*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Admin Dashboard
/admin-dashboard/dist
/admin-dashboard/node_modules

# Android
*.apk
*.aab
*.ap_
*.jar
hs_err_pid*

# Environment files
.env
.env.local
